<a href="https://colab.research.google.com/github/MohmmadSami/AI_Labs/blob/main/AI_Lab_02_(53199).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#practice
fruit_list = ["apples","Grapes","Banana"]
print(fruit_list)
print(type(fruit_list))
print(len (fruit_list))
fruit_list
["apples","Grapes","Banana","Black Berries"]

['apples', 'Grapes', 'Banana']
<class 'list'>
3

['apples', 'Grapes', 'Banana', 'Black Berries']

In [8]:
#Append
number = [10,20,30,40,50,60,70,80,90]
number.append(100)
print("\n",number)
print(type(number))
print(len(number))

 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
<class 'list'>
10

In [9]:
#clear
names = ["Raheel" ,"Rehan" ,"Rayyan","Sayyab","Saif"]
print(names)
names.clear()
print(names)

['Raheel', 'Rehan', 'Rayyan', 'Sayyab', 'Saif']
[]

In [11]:
from os import pathconf
List1 = [1,2,3,4,5,6,7,8,9]
List2 = List1.copy()
List2.append(10)
print(List1)
print(List2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#Count
List1 = [1,2,3,4,5,6,7,8,9,9,1]
print (List1)
List1.count(9)
List1.count(1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 1]

2

In [15]:
#Extend
List1 = [1,2,3,4,5,6,7,8,9,10]
List2 = [11,12,13,14,15,16,17,18,19,20]
List1.extend(List2)
print(List1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [17]:
#Index
List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print (List.index(15))

14

In [18]:
#Insert
numbers = [1, 2, 4, 5]
numbers.insert(2, 3)

print(numbers)

[1, 2, 3, 4, 5]

In [20]:
#Pop
fruits = ["apple", "banana", "cherry"]
removed = fruits.pop(1)

print(removed)
print(fruits)

banana
['apple', 'cherry']

In [21]:
#Remove
colors = ["red", "blue", "green", "blue"]
colors.remove("blue")

print(colors)

['red', 'green', 'blue']

In [23]:
#Lab 02 bounce task
total_points = 0
total_credits = 0

courses = int(input("Enter number of courses: "))

for i in range(courses):
    print("\nCourse", i + 1)

    course_name = input("Enter course name: ")
    grade_point = float(input("Enter grade point: "))
    credit_hours = int(input("Enter credit hours: "))

    total_points = total_points + (grade_point * credit_hours)
    total_credits = total_credits + credit_hours

cgpa = total_points / total_credits

print("\n-----------------------")
print("Total Credit Hours:", total_credits)
print("Your CGPA is:", round(cgpa, 2))

Enter number of courses: 3

Course 1
Enter course name: AI
Enter grade point: 3.0
Enter credit hours: 3

Course 2
Enter course name: Opp
Enter grade point: 3.0
Enter credit hours: 3

Course 3
Enter course name: Enterpernurship
Enter grade point: 2.5
Enter credit hours: 2

-----------------------
Total Credit Hours: 8
Your CGPA is: 2.88